


<nav class="navbar navbar-dark sticky-top navbar-expand-lg">
      <div class="container-fluid align-items-lg-end">
        <a class="navbar-brand" routerLink="/"><img src="../../../assets/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <a routerLink="/" class="btn btn-warning nav-item nav-link mt-3 mt-lg-0 mx-auto">Business Owner?</a>
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <a class="nav-item nav-link" routerLink="/login/">Login</a>
            <a class="btn btn-warning nav-item nav-link" routerLink="/">Join Now</a>
          </div>
        </div>
      </div>
    </nav>