  <nav class="navbar navbar-dark sticky-top navbar-expand-lg navbar-login">
      <div class="container-fluid align-items-lg-end">
         <a class="navbar-brand" routerLink="/home"><img src="../../../../assest/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <a routerLink="/boligin" class="btn btn-warning mt-3 mt-lg-0 mx-auto">Business Owner?</a>
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home">< Back to Home</a>
          </div>
        </div>
      </div>
    </nav>