  <nav class="navbar navbar-dark sticky-top navbar-expand-lg navbar-login">
      <div class="container-fluid align-items-lg-end">
         <a class="navbar-brand" routerLink="/"><img src="../../../../assets/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <a routerLink="/login/bologin" class="btn btn-warning mt-3 mt-lg-0 mx-auto">Business Owner?</a>
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/login/splogin">Login</a>
          </div>
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/login/Spsignup">Signup</a>
          </div>
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Back to Home</a>
          </div>
        </div>
      </div>
    </nav>

    <section class="d-flex m-h-100 text-center section-login">
        <div class="my-auto w-100">
          <div class="container">

            <div class="bg-login">

              <div class="row">
                <div class="col-lg-6">
  
                  <div class="block-wrap">
                    <div class="block">
                      <div class="h3"><strong>Welcome Back Star performer</strong></div>
                      <div class="h5 mt-5">Not a member?</div>
                      <div class="h5 mb-5"><a routerLink="/login/Spsignup">Sign Up</a> for free</div>
                      <p class="loginerror">{{loginerror}}</p>
                      <form #LoginForm = "ngForm" (ngSubmit)="onlogin(LoginForm.value)"ngNativeValidate>
                        <div class="form-group">
                          <input type="email"  id="myEmail" #emailInput class="form-control" placeholder="Email" name="email" required ngModel>
                          <!-- <span id ='email_error_message'></span> -->
                        </div>
                        <div class="form-group">
                          <input type="password"  id="mypass" #passInput class="form-control" placeholder="Password" name="password" required  ngModel>
                          <!-- <span id ='password_error_message'></span> -->

                        </div>
                        <div class="text-center">
						              <button type="submit"  id="btnJoinNow" class="btn btn-warning">Login</button>
                        </div>
                        <div class="text-center fz-10 mt-3">
                          <strong><a routerLink="/login/forgotPassword">Forgot Password?</a></strong>
                        </div>
                        <div  id="resultDiv"></div>
                      </form>

                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>
    </section>

