<app-header></app-header>

    <section class="section-1 text-center d-flex m-h-100">
        <div class="container my-auto">
            <div class="owl-wrap">
              <div class="owl-1 owl-carousel owl-theme">
                  <div class="block-wrap">
                    <div class="block">
                      <div class="h1"><strong>Let Us Help You Find <br> & Apply For Your Ideal Job</strong></div>
                     <!-- <div class="h5">We go live in 4 weeks!</div>
                     <div class="h5">Join the list to be an early adaptor</div> -->
                     <br>
                      <a href="SPSignup.html" class="btn btn-warning">Get Started For Free</a>
                    </div>
                  </div>
                  <div class="block-wrap">
                    <div class="block">
                      <div class="h1"><strong>Let Us Help You Find <br> & Apply For Your Ideal Job</strong></div>
                      <div class="h5">We go live in 4 weeks!</div>
                      <div class="h5">Join the list to be an early adaptor.</div>
                      <a href="#" class="btn btn-warning">Join the list</a>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </section>

    <section class="section-2">
        <div class="container">

          <div class="h2 yellow text-center"><strong>HOW IT WORKS</strong></div>

          <div class="shadow">

            <nav class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" aria-selected="true">For Service Professionals</a>
                <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" aria-selected="false">For Business Owners</a>
               <!-- <a class="nav-item nav-link" id="nav-3-tab" data-toggle="tab" href="#nav-3" aria-selected="false">For Customers</a> -->
            </nav>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="nav-1">

                  <div class="row mx-0">
                    <div class="col-md-6 px-0 py-0">
                      <img src="../../../assets/img/1.jpg" alt="" class="mb-3 mb-md-0">
                    </div>
                    <div class="col-md-6 pr-44 order-md-first">
                      <div class="h5 mb-4"><strong>Step 1 (Create A Free Profile)</strong></div>
                      <p class="text-justify">Create a profile at Starperformers and list your job preferences including industry, location, and salary requirements.</p>
                      <div class="text-right pt-2">
                        <a href="SP-login.html" class="btn btn-warning">Create Profile</a>
                      </div>
                    </div>
                  </div>
                  <div class="row mx-0">
                    <div class="col-md-6 px-0 py-0">
                      <img src="../../../assets/img/2.jpg" alt="" class="mb-3 mb-md-0">

                    </div>
                    <div class="col-md-6 pl-44">
                      <div class="h5 mb-4"><strong>Step 2 (Let Us Do The Magic)</strong></div>
                      <p class="text-justify">Our algorithms find the ideal jobs for you based on your preferences and you will receive a weekly list of Jobs that are a perfect fit!</p>
                    </div>
                  </div>
                  <div class="row mx-0">
                    <div class="col-md-6 px-0 py-0">
                      <img src="../../../assets/img/3.jpg" alt="" class="mb-3 mb-md-0">
                    </div>
                    <div class="col-md-6 pr-44 order-md-first">
                      <div class="h5 mb-4"><strong>Step 3 (Dowload Resume & Apply)</strong></div>
                      <p class="text-justify">Download expert verified custom resumes from your dashboard and apply to your ideal job. Easy</p>
                    </div>
                  </div>

                </div>
                <div class="tab-pane fade" id="nav-2">

                  <div class="row mx-0">
                    <div class="col-md-6 px-0 py-0">
                      <img src="../../../assets/img/1.jpg" alt="" class="mb-3 mb-md-0">
                    </div>
                    <div class="col-md-6 pr-44 order-md-first">
                      <div class="h5 mb-4"><strong>Step 1 (Create A Free Profile)</strong></div>
                      <p class="text-justify">Create a profile at Starperformers to list your job preferences including industry, location, and salary requirements.</p>
                      <div class="text-right pt-2">
                        <a href="SP-login.html" class="btn btn-warning">C</a>
                      </div>
                    </div>
                  </div>
                  <div class="row mx-0">
                    <div class="col-md-6 px-0 py-0">
                      <img src="../../../assets/img/2.jpg" alt="" class="mb-3 mb-md-0">
                    </div>
                    <div class="col-md-6 pl-44">
                      <div class="h5 mb-4"><strong>Step 2 (Let Us Do The Magic)</strong></div>
                      <p class="text-justify">Our algorithms find the ideal jobs for you based on your preferences and you will receive a weekly list of Jobs that are a perfect fit!</p>
                    </div>
                  </div>
                  <div class="row mx-0">
                    <div class="col-md-6 px-0 py-0">
                      <img src="../../../assets/img/3.jpg" alt="" class="mb-3 mb-md-0">
                    </div>
                    <div class="col-md-6 pr-44 order-md-first">
                      <div class="h5 mb-4"><strong>Step 3 (Dowload Resume & Apply)</strong></div>
                      <p class="text-justify">Download expert verified custom resumes from your dashboard and apply to your ideal job. Easy</p>
                    </div>
                  </div>

                </div>
                <div class="tab-pane fade" id="nav-3">

                  <div class="row mx-0">
                    <div class="col-md-6 px-0 py-0">
                      <img src="i../../../assets/mg/1.jpg" alt="" class="mb-3 mb-md-0">
                    </div>
                    <div class="col-md-6 pr-44 order-md-first">
                      <div class="h5 mb-4"><strong>Step 1 (Create A Free Profile)</strong></div>
                      <p class="text-justify">Create a profile at Starperformers to list your job preferences including industry, location, and salary requirements.</p>
                      <div class="text-right pt-2">
                        <a href="SP-login.html" class="btn btn-warning">Sign up</a>
                      </div>
                    </div>
                  </div>
                  <div class="row mx-0">
                    <div class="col-md-6 px-0 py-0">
                      <img src="../../../assets/img/2.jpg" alt="" class="mb-3 mb-md-0">
                    </div>
                    <div class="col-md-6 pl-44">
                      <div class="h5 mb-4"><strong>Step 2 (Let Us Do The Magic)</strong></div>
                      <p class="text-justify">Our algorithms find the ideal jobs for you based on your preferences and you will receive a weekly list of Jobs that are a perfect fit!</p>
                    </div>
                  </div>
                  <div class="row mx-0">
                    <div class="col-md-6 px-0 py-0">
                      <img src="../../../assets/img/3.jpg" alt="" class="mb-3 mb-md-0">
                    </div>
                    <div class="col-md-6 pr-44 order-md-first">
                      <div class="h5 mb-4"><strong>Step 3 (Dowload Resume & Apply)</strong></div>
                      <p class="text-justify">Download expert verified custom resumes from your dashboard and apply to your ideal job. Easy</p>
                    </div>
                  </div>

                </div>
            </div>

          </div>

        </div>
    </section>

    <section class="section-3 professionals">
      <div class="container">
        <div class="h2 yellow text-center tt-u"><strong>See what clients are saying about Starperformers</strong></div>
        <div class="block-wrap">
          <div class="block">
            <div class="text-center">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning btn-active professionals-link">Service Professionals</button>
                <button type="button" class="btn btn-warning owners-link">Business Owners</button>
              <!--  <button type="button" class="btn btn-warning customers-link">Customers</button>-->
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-9">
                <p class="text-justify professionals">"I signedup up for linkedin years ago but it never served an purpose as it was targeting service professionals. I am so gladStarperformers came along and made the prorcess of applying ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc."</p>
                <p class="text-justify owners">Necessitatibus obcaecati exercitationem, illo molestias delectus laboriosam et officia illum ab autem optio rerum alias neque dolorum architecto error iusto dolores. Eveniet ex explicabo, aperiam similique, odit, provident laudantium velit.</p>
                <p class="text-justify customers">Deleniti blanditiis non fugiat nulla earum nobis, molestias quis voluptatum quam, laborum unde sit repudiandae qui. Ullam doloremque ex alias, nam corporis quos expedita aliquid nulla corrupti assumenda magnam ipsam. Lorem ipsum dolor sit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<app-footer></app-footer>