    <footer class="">
        <div class="container">
            <div class="navbar-nav flex-column flex-lg-row text-center">
              <a class="nav-item nav-link px-0 mr-lg-auto" routerLink="/">Info@starperformers.nyc</a>
              <div class="navbar-nav flex-row nav-socials justify-content-center">
                <a class="nav-item nav-link" routerLink="/"><i class="fa fa-2x fa-facebook-square"></i></a>
                <a class="nav-item nav-link" routerLink="/"><i class="fa fa-2x fa-twitter-square"></i></a>
                <a class="nav-item nav-link" routerLink="/"><i class="fa fa-2x fa-instagram"></i></a>
              </div>
            </div>
            <div class="copyright text-center">Copyright Starperformers 2017</div>
        </div>
    </footer>