  <nav class="navbar navbar-dark sticky-top navbar-expand-lg navbar-login">
      <div class="container-fluid align-items-lg-end">
         <a class="navbar-brand" routerLink="/"><img src="../../../../assets/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <a routerLink="/login/bologin" class="btn btn-warning mt-3 mt-lg-0 mx-auto">Business Owner?</a>
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">< Back to Home</a>
          </div>
        </div>
      </div>
    </nav>



        <section class="d-flex m-h-100 text-center section-login">
        <div class="my-auto w-100">
          <div class="container">

            <div class="bg-login">

              <div class="row">
                <div class="col-lg-6">
                  <div class="block-wrap">
 <!-- forget password --> 
                    <div class="block" *ngIf="whichForm">
                      <div class="h3"><strong>Please Enter Your Email For Reset Password</strong></div>
                      <p class="loginerror">{{loginerror}}</p>
                      <p class="resetpass emaildesign">Enter Email</p>
                      <form #forgotpass = "ngForm" (ngSubmit)="onforgotpass(forgotpass.value)"ngNativeValidate>
                        <div class="form-group">
                          <input type="email"  id="myEmail" #emailInput class="form-control" placeholder="Email" name="email" required ngModel>
                          <!-- <span id ='email_error_message'></span> -->
                        </div>

                      <div class="row justify-content resetpasswordsave">
                      <div class="col-sm-auto">
                         <a class="nav-item nav-link link_text" routerLink="/login/splogin">Click to login</a>
                      </div>
                      <div class="col-sm-auto">
                        <button type="submit"  class="btn btn-min btn-block btn-warning mb-3" onClick="modal_hide">Save</button>
                      </div>
                    </div>
                      </form>
                    </div>
<!-- Confirm Password -->
                    <div class="block" *ngIf="!whichForm">
                      <div class="h3"><strong>Please Enter Your new Password</strong></div>
                      <p class="loginerror">{{loginerror}}</p>
                      <form #confirmpassword = "ngForm" (ngSubmit)="onresetPass(confirmpassword.value)"ngNativeValidate>
                        <div class="form-group">
                           <p class="resetpass">New Password</p>
                          <input type="password"  id="password" #password class="form-control" placeholder="password" name="password" required ngModel>
                        </div>
                        
                        <div class="form-group">
                          <p class="resetpass">Re-enter Password</p>
                          <input type="password"  id="Confirmpassword" #Confirmpassword class="form-control" placeholder="Re-enter Password" name="Confirmpassword" required ngModel>
                        </div>

                        <div class="row justify-content updatepass">
                          <div class="col-sm-auto">
                            <a class="nav-item nav-link link_text" routerLink="/login/splogin">Click to login</a>
                            <button type="submit"  class="btn btn-min btn-block btn-warning mb-3" onClick="modal_hide">Reset password</button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>
    </section>
