.resetpass {
    text-align: left;
    font-size: 15px;
    color: #f4c400;
}
.row.justify-content.updatepass {
    text-align: center;
    margin: 45px auto 0;
    width: 270px;
}
.resetpass:first-child {
    margin-top: 30px;
}
.resetpasswordsave {
    text-align: center;
    margin:40px 0 0 20px;
}
.emaildesign{
	margin-top:40px;
}
a.nav-item.nav-link.link_text {
    font-size: 15px;
    padding: 0px 0px 10px 0;
    line-height: 40px;
}
.loginerror {
    color: #f4c300;
    font-size: 16px;
}